:root{
     --dark: #504B38;
     --light: #F8F3D9;
     --back:#efe5b0;
     --accent:#B9B28A;

}
html {
  scroll-behavior: smooth;
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     
}
body{
     font-family: 'Figtree', sans-serif;
     
     background-color: var(--back);
}
section{
     margin: 40px auto;
     max-width: 1200px;
     padding: 4rem 0;
}
header{
     background-color: var(--dark);
     color: var(--light);
     height:80px;
} 
.logo{
     font-size: 32px;
     font-weight: bold;
}

.links{
     list-style: none;
     display: flex;
     margin: auto;
     justify-content: flex-end;
     
}

.links li a{
     padding: 0 10px;
     text-decoration: none;
     color: var(--light);
     margin-left: 26px;
     font-size: 20px;
     transition: color 0.3s ease;
}
.links li a:hover{
     color: var(--accent);
     
}    
.navbar{
     display:flex;
     padding: 18px 32px;
     justify-content: space-between;
     background-color: var(--dark);
     align-items: center;
     box-shadow: 0px 12px 6px var(--dark);
     
}
.btn a{
     text-decoration: none;
     color:var(--light);
}
.btn{
     background-color: var(--accent);
     color: var(--dark);
     padding: 9px 20px;
     border-radius: 2px;
     font-weight: 500;
     border: 2px solid transparent;
     cursor: pointer;
     font-size: 17px;
     outline: none;
     transition: all .3s ease;
}
.btn:hover{
     background-color: transparent;
     color: var(--light);
     border-color: var(--accent);
}
#hero{
     margin-top: 60px;
     padding: auto;
     display: flex;
     justify-content: center;
     align-items: center;
}
.right{
     margin-left: 60px;
     max-width: 600px;
     color:var(--dark);

}
.right h1{
     font-size: 48px;
     margin-bottom: 20px;
     font-weight: 700;
}
.right h4{
     font-size: 24px;
     margin-bottom: 15px;
     font-weight: 500;
     font-family:Arial, Helvetica, sans-serif;
}
.right p{
     font-size: 18px;
     line-height: 1.6;
     margin-bottom: 25px;
}
.left img{
     width: 500px;
     height: auto;
}
.btn2{
     margin-top: auto;
     background-color: var(--back);
     color: var(--dark);
     padding: 10px 20px;
     border-radius: 4px;
     font-weight: 700;
     border: 4px solid var(--dark);
     cursor: pointer;
     font-size: 22px;
     outline:auto;
     transition: all .3s ease;
}
.btn2:hover{
     background-color: var(--dark);
     color: var(--light);
     border-color: var(--dark);
}
#about h2{
     text-align: center;
     font-size: 42px;
     font-weight: 700;
     margin-bottom: 20px;
     color: var(--dark);
}
#about h3{
     text-align: center;
     font-size: 24px;
     font-weight: 500;
     margin-bottom: 15px;
     color: var(--dark);
}
#about p{
     max-width: 900px;
     margin:0 auto;
     font-size: 18px;
     line-height: 1.8;
     color: var(--dark);
     text-align: center;
     padding: 0 20px;
}
.social-icons{
     text-align: center;
     margin-top: 20px;
     
}
.social-icons a{
     text-decoration: none;
     color: var(--dark);
     font-size: 18px;
     margin: 0 12px;

}
.social-icons a:hover{
     color: var(--accent);
     transition:0 0.3s ease;
}
#skills{
     padding: 60px 20px;
     
}
#skills h2{
     text-align: center;
     font-size: 42px;
     font-weight: 700;
     margin-bottom: 40px;
     color: var(--dark);
}
#skills ul{
     list-style: none;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 30px;
}
#skills li{
     background-color: var(--accent);
     padding: 20px 30px;
     border-radius: 8px;
     border: 2px solid var(--dark);
     color: var(--dark);
     font-size: 22px;
     font-weight: 500;
     text-align:center;
}
#skills li:hover{
     box-shadow:var(--dark) 0px 4px 12px;
}
#projects h2{
     text-align: center;
     font-size: 42px;
     font-weight: 700;
     margin-bottom: 40px;
     color: var(--dark);
}
.project{
     max-width: 900px;
     margin: 20px auto;
     background-color: var(--accent);
     padding: 20px;
     border-radius:8px ;
     border: 2px solid var(--dark);
     margin-bottom: 30px;
     
}
.project:hover{
     box-shadow: var(--dark) 0px 6px 14px;
     transition: all .3s ease;
}
.project h3{
     font-size: 23px;
     font-weight: 600;
     margin-bottom: 15px;
     color: var(--dark);
}
.project p{
     font-size: 16px;
     line-height: 1.6;
     color: var(--dark);
}
#contact h2{
     text-align: center;
     font-size: 42px;
     font-weight: 700;
     margin-bottom: 40px;
     color: var(--dark);
}
#contact {
     text-align: center;
     font-size: 18px;
     margin-bottom: 30px;
     color: var(--dark);
     padding: 50px 0;

}


footer{
     text-align: center;
     background-color: var(--dark);
     color: var(--light);
     padding: 20px 0;
     margin-top: 40px;
     font-weight: 500;
}